.footer-links {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-link-wrapper {
  display: flex;
}

.footer-link-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  text-align: left;
  box-sizing: border-box;
  width: 400px;
}

.about-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.about-header {
  font-family: "AxiformaThin", sans-serif;
  font-size: 35px;
  color: white;
}
.extra-spacing {
  margin-top: 10px;
}
.footer-link-item > .about-subHeader {
  font-family: "AxiformaThin", sans-serif;
  font-size: 14px;
  margin-top: 20px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

.footer-link-item > .vision-mission > .about-subHeader {
  font-family: "AxiformaThin", sans-serif;
  font-size: 14px;
  margin-top: 5px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
 
}

.about-container > .fa-chevron-down {
  color: white !important;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 30px;
  transform: translatey(0px);
  animation: float 8s ease-in-out infinite;
}

.footer-logo {
  height: 100px;
}

.footer-text{
  color:white;
  font-size: 13px;
  margin-top: 90px;
  letter-spacing: 2px;
}

.footer-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}


@media screen and (max-width: 768px) {
  .digital-thinking{
    margin-top: 30px;
  }
  .footer-link-wrapper {
    flex-direction: column;
  }
  .about-container > .fa-chevron-down {
    color: white;
    margin-top: -25px;
    margin-bottom: 10px;
    font-size: 25px;
    transform: translatey(0px);
    animation: float 8s ease-in-out infinite;
  }

  .about-container {
    height: 120vh;
  }

  .extra-spacing {
    margin-top: none;
  }

  .footer-link-item {
    width: 315px;
  }

  .footer-logo{
    height:100px
  }

  .footer-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
  }

  .footer-text{
    line-height: 30px;
    text-align: center;
  }

  .about-header {
    font-family: "Quicksand", sans-serif;
    font-size: 28px;
   
    color: white;
  }

  .footer-link-item > .about-subHeader {
    font-family: "AxiformaThin", sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
  }
  
}

@media screen and (max-width: 960px) {
  .footer-link-item {
    margin: 0px;
    margin-bottom: 60px;
  }

}
